{$CUSTOMER_DOMAIN} {
    # Route Core API queries to the backend node
    handle /api/v1/* {
        import /etc/caddy/active_backend.conf
    }

    # Route Socket.IO events to the backend
    handle /socket.io/* {
        import /etc/caddy/active_backend.conf
    }

    # Route UI pages, auth, and other queries to the frontend
    handle {
        reverse_proxy alti-frontend:3000
    }
}
